//Light Theme Colors
$lt-light-color: #ffffff;
$lt-light-grey-color: #b0b0b0;
$lt-med-light-grey-color: #6c6c6c;
$lt-dark-grey-color: #414141;
$lt-blue-color: #134977;
$lt-red-color: #7A1814;
$lt-black-color: #000;

//Dark Theme Colors
$dt-white-color: #fff;
$dt-light-grey-color: #b5b5b5;
$dt-med-grey-color: #737373;
$dt-dark-grey-color: #565656;
$dt-black-color: #000000;
$dt-red-color: #77141d;

$theme-transition-timing: 0.7s;